{% extends 'shedule/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-3 pb-md-3 mx-auto text-center">
    <h1 class="display-4">Вся информация
    </h1>
</div>
<form action="" class="form-floating">
    <div class="row">
        <div class="col-3 p-4">
            <div class="card mb-3 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        Статусы рассылок: </h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-6">
                    </ul>
                </div>
            </div>
        </div>

    </div>
</form>
{% endblock %}